__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/

_smoke_runs/
reports/
build/
tmp/
temp/
urgReport/
urg_matrix/
junit/

simv
simv.daidir/
simv.vdb/
csrc/
DVEfiles/
ucli.key
verdiLog/
verdi_config_file
novas.conf
novas_dump.log
*.vpd
*.vdb
*.fsdb
*.xml
*.jou
*.str
*.log
